body{
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(bg.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  text-align: center;
}
.text{
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 6px;
  margin: 20px;
  font-size: larger;
  padding-left: 30%;
}
.page{
  width: 110%;
  background-color: white;
  border-radius:2%;
  width: 150%;
  height: 100%;
 
}
.Insta{
  padding: 10%;
  font-family:'pacifico', cursive;
  font-size: xx-large;

}
form{
  width: 75%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 10%;
  border-radius: 0px;
  
}

.a{
  margin: 5px;
  font-size: x-large;
  text-align: center;
  
}
button{
  background-color: rgb(54, 101, 255);
  color: #ffffff;
}
img{
  width: 6%;
  height: auto;
}
.or{
  margin: 20px;
}
.b{
  font-size: large;
  text-align: center;
}
